body {
	background: url(fondo.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;		
}
p{
	font-size: 40px;
}
.item {
	float: left;
	margin: 1em;
	padding: 1em;
	border: solid transparent;
	background: linear-gradient(white, white);
}
